<div class="flex items-center space-x-4 share-buttons">
  <span class="text-xs font-bold uppercase tracking-widest">Share:</span>

  <a
    href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}"
    target="_blank"
    class="hover:text-blue-600 transition"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="30"
      height="30"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon-tabler-brand-facebook"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
    </svg>
  </a>

  <a
    href="//twitter.com/share?text={{ share_title | url_param_escape }}&url={{ shop.url | append: share_permalink }}"
    target="_blank"
    class="hover:text-blue-400 transition"
  >
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
    </svg>
  </a>

  <a
    href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&media={{ share_image | image_url: width: 1024 }}&description={{ share_title | url_param_escape }}"
    target="_blank"
    class="hover:text-red-600 transition"
  >
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path d="M12 0c-6.627 0-12 5.373-12 12 0 5.084 3.163 9.426 7.627 11.174-.105-.949-.2-2.405.042-3.441.218-.937 1.407-5.965 1.407-5.965s-.359-.719-.359-1.782c0-1.668.967-2.914 2.171-2.914 1.023 0 1.518.769 1.518 1.69 0 1.029-.655 2.568-.994 3.995-.283 1.194.599 2.169 1.777 2.169 2.133 0 3.772-2.249 3.772-5.495 0-2.873-2.064-4.882-5.012-4.882-3.414 0-5.418 2.561-5.418 5.207 0 1.031.397 2.138.893 2.738.098.119.112.224.083.345l-.333 1.36c-.053.22-.174.267-.402.161-1.499-.698-2.436-2.889-2.436-4.649 0-3.785 2.75-7.261 7.929-7.261 4.162 0 7.397 2.965 7.397 6.93 0 4.135-2.607 7.462-6.225 7.462-1.215 0-2.358-.631-2.75-1.378l-.75 2.852c-.271 1.033-1.002 2.331-1.491 3.123 1.125.347 2.316.535 3.551.535 6.627 0 12-5.373 12-12s-5.373-12-12-12z"/>
    </svg>
  </a>

  <a
    href="https://api.whatsapp.com/send?text={{ share_title | url_param_escape }}%20{{ shop.url | append: share_permalink }}"
    target="_blank"
    class="hover:text-green-500 transition"
  >
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path d="M.057 24l1.687-6.163c-1.041-1.804-1.588-3.849-1.588-5.946 0-6.556 5.332-11.891 11.887-11.891 3.181 0 6.167 1.24 8.413 3.488 2.245 2.248 3.481 5.236 3.481 8.403 0 6.556-5.332 11.89-11.888 11.89-.21 0-.422-.006-.631-.018l-6.125 1.604-.047-.024zm6.052-4.102l.334.198c1.054.628 2.274.961 3.52.961h.001c5.451 0 9.887-4.436 9.887-9.888 0-2.636-1.026-5.115-2.887-6.979-1.861-1.863-4.341-2.89-6.978-2.89-5.451 0-9.887 4.437-9.887 9.888 0 2.023.619 3.992 1.789 5.656l.219.314-1.112 4.057 4.127-1.081zm10.451-7.14c-.28-.141-1.658-.818-1.914-.911-.257-.093-.443-.14-.629.141-.186.28-.72.911-.882 1.096-.164.186-.327.21-.607.069-.281-.141-1.183-.437-2.254-1.393-.833-.743-1.395-1.661-1.558-1.942-.164-.28-.018-.432.122-.572.126-.126.28-.327.42-.49.141-.164.186-.28.28-.467.093-.186.047-.35-.024-.491-.07-.141-.629-1.517-.862-2.078-.227-.546-.458-.472-.629-.481-.162-.008-.348-.01-.534-.01s-.49.07-.746.35c-.257.28-.981.958-.981 2.336 0 1.378 1.004 2.71 1.144 2.897.14.187 1.976 3.017 4.787 4.23.669.289 1.191.462 1.597.591.672.213 1.284.183 1.767.11.539-.081 1.658-.677 1.891-1.332.233-.654.233-1.214.163-1.331-.07-.117-.256-.187-.536-.328z"/>
    </svg>
  </a>

  <a
    href="//www.linkedin.com/shareArticle?mini=true&url={{ shop.url | append: share_permalink }}"
    target="_blank"
    class="hover:text-blue-700 transition"
  >
    <svg class="w-5 h-5 fill-current" viewBox="0 0 24 24">
      <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"/>
    </svg>
  </a>

  <button
    onclick="navigator.clipboard.writeText(window.location.href); alert('Link kopyalandı!')"
    class="hover:text-gray-500 transition"
  >
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="8 16H6a2 2 0 01-2-2V6a2 2 0 012-2h8a2 2 0 012 2v2m-6 12h8a2 2 0 002-2v-8a2 2 0 00-2-2h-8a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
    </svg>
  </button>
</div>
